#grid {
  width: 440px;
  height: 440px;
  display: flex;
  flex-wrap: wrap;
}

.grid-space {
  border: 1px solid grey;
  width: 20px;
  height: 20px;
}

.snaky {
  background-color: red;
}

.apple {
  background-color: green;  
}
